POSTGRES_PORT_TEST="5433"
POSTGRES_PORT="5432"
POSTGRES_DB="dbname"
POSTGRES_USER="user"
POSTGRES_PASSWORD="mypassword"

DATABASE_URL="postgresql://myuser:mypassword@localhost:5432/mydb?schema=public"