POSTGRES_PORT_TEST="5433"
POSTGRES_PORT="5432"
POSTGRES_DB="dbname"
POSTGRES_USER="user"
POSTGRES_PASSWORD="mypassword"

DATABASE_URL="postgresql://myuser:mypassword@localhost:5432/mydb?schema=public"

# Better Auth Configuration
BETTER_AUTH_SECRET="Super_secret_code"
BETTER_AUTH_URL="http://localhost:3000" # Base URL of your app (use production URL in prod)

# Google OAuth Configuration
# You must set up an OAuth 2.0 Client ID in the Google Cloud Console as a "Web application".
# Required Authorized redirect URI for Google Console:
# - Local Development: http://localhost:3000/api/auth/callback/google
# - Production: https://<your-prod-api-domain>/api/auth/callback/google
GOOGLE_CLIENT_ID="XXXXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXX.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="XXXXXX-XXXXXXXXXXXXXXXXXXXXXXX"

# Admin Seeding Configuration
ADMIN_EMAIL="serena@readbrary.com"
ADMIN_PASSWORD="HeritageSilencieux2!"